.home{
    width: 95%;
    margin: 1rem auto;
}

.mat-card {
    background-color: rgb(39, 39, 37);
    color: rgba(245, 239, 239, 0.87);
}

.subtitle{
    color: white;
}

@media(max-width: 450px) {
    
    .home{
        width: 70%;
    }
}

@media(max-width: 750px) {
    
    .home{
        width: 90%;
    }
}